@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ede4d7;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: linear-gradient(to right, #d8d4fc, #ffecbc);
  /* Fallback for older browsers */
  @apply bg-gradient-to-br from-[#ffecbc] to-[#d8d4fc];
  font-family: 'Poppins', sans-serif;

}

.typing-dots {
  display: flex;
  gap: 4px;
}

.typing-dots span {
  width: 8px;
  height: 8px;
  background-color: #6b7280;
  border-radius: 50%;
  animation: typing 1.5s infinite ease-in-out;
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}